*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(220, 70, 70);
    overflow-x:hidden ;
    text-align: center;
    padding: 20px;
    background-image: url("hom.jpeg");
    background-attachment: fixed ;
    background-size: cover;
}

/*navbar */
nav {
    display: flex;
    background: transparent;
    justify-content: space-around;
    padding: 20px 0;
    color: rgb(235, 101, 101);
    overflow: hidden;
}

nav .logo {
    font-family: 'Nosifer', sans-serif;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(235, 101, 101);
    text-decoration: none;
    font-size: 0.8em;
    
}

nav ul li a:hover {
    color: rgb(248, 248, 248);
}

/*hamburger menu */
.menu-toggle {
 display: none;
 flex-direction: column;
 height: 20px;
 justify-content: space-between;
 position: relative;
}

.menu-toggle input {
    position: absolute ;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:rgb(238, 141, 141) ;
    border-radius: 3px;
    transition: all 0.5s ;
}

/* hamburger animasi */
.menu-toggle span:nth-child(2) {
    transform-origin:0 0 ;
}

.menu-toggle span:nth-child(4) {
    transform-origin:0 100% ;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/*ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

.room1 {
    text-align: center;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.479);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px; /* Menambahkan jarak antara item penawaran */
}

.room2 {
    text-align: center;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.479);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px; /* Menambahkan jarak antara item penawaran */
}

.room3 {
    text-align: center;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.479);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px; /* Menambahkan jarak antara item penawaran */
}
main {
    max-width: 905px;
    margin: 20px auto;
    padding: 20px;
}

.hotel-address {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: justify;
    margin-top: 300px;
    color: #ffffff;
  }
  
  .hotel-address h3 {
      text-align: center;
    color: #ffffff;
  }
  
  .hotel-address p {
      color: #ffffff;
  }       
  .hotel-address ul{
      list-style-type:none;
  } 
  .list1{
      float: right;
      margin-top: -90px;
      margin-right:50px;
  }

  footer {
    background-color: #080808;
    color: rgb(165, 101, 101);
    text-align: center;
    padding: 10px;
}
